<div id="<%= dom_id thing %>">
  <p>
    <strong>Name:</strong>
    <%= thing.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= thing.active %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= thing.expiration_date %>
  </p>

</div>
