<div id="<%= dom_id dynamic_thing %>">
  <p>
    <strong>Name:</strong>
    <%= dynamic_thing.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= dynamic_thing.active %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= dynamic_thing.expiration_date %>
  </p>

</div>
