<h1>Editing dynamic thing</h1>

<%= render "form", dynamic_thing: @dynamic_thing %>

<br>

<div>
  <%= link_to "Show this dynamic thing", @dynamic_thing %> |
  <%= link_to "Back to dynamic things", dynamic_things_path %>
</div>
