<h1>Editing autocomplete thing</h1>

<%= render "form", autocomplete_thing: @autocomplete_thing %>

<br>

<div>
  <%= link_to "Show this autocomplete thing", @autocomplete_thing %> |
  <%= link_to "Back to autocomplete things", autocomplete_things_path %>
</div>
